{% extends "lyricapp/base.html" %}
<!-- -->

{% block content %}
<h1>About Lyrics App</h1>

    <p>Welcome to Lyrics App, your ultimate place for sharing and discovering songs!</p>

    <p>At Lyrics App, we think that music brings us all together, and lyrics play an important role in our musical journey. Our platform is intended to be a hub for music fans to discover, share, and contribute lyrics to their favorite songs.</p>

    <p>Whether you're an experienced lyricist or simply enjoy singing along, Lyrics App provides a vibrant community where you can immerse yourself in the world of lyrics.</p>
    
    <p>Here's what you can do at Lyrics App:</p>

    <ol>
    <li>
        <strong>Discover Lyrics:</strong> Explore our large collection of lyrics from many genres, artists, and languages. From ancient oldies to the most recent smashes, there's something for everyone.
    </li>
    <li>
        <strong>Share Your Favorite Lyrics:</strong> Do you have a favorite music lyric that speaks to you? Share it with the community and let others to see the beauty of your chosen words.
    </li>
    <li>
        <strong>Contribute Your Own Lyrics:</strong> Are you an aspiring songwriter? Upload your own lyrics and share your gift with the world. Whether it's a poignant ballad or an exuberant hymn, Lyrics App is the ideal place to showcase your work.
    </li>
    <li>
        <strong>Connect with Like-Minded People:</strong> Join our community of music and lyric fans. Participate in discussions, make recommendations, and connect with other users who share your enthusiasm for music.
    </li>
    <li>
        <strong>Explore User Profiles:</strong> Learn about other users and their musical likes. Browse user profiles to discover new songs and lyrics.
    </li>
    </ol>

    <p>At Lyrics App, we want to provide a friendly and inclusive environment in which everyone may express themselves via music and lyrics. Join us as we celebrate the power of words and music!</p>


    
{% endblock content %}